# pnpm
node_modules/
.pnpm-store/

# Vite+ task cache
.vite/cache/

dist/

test-inputs/**/index.html
testme/**
collections/

bilingual-sample_bloom/

bilingual-sample.tagged_bloom/

test-output/
test-outputs/

debug*.js
poppler-24.08.0/
large-local-test-inputs/